# PHP
composer.phar

# Uploads directory (allow only tracking .gitkeep files)
/uploads/*
!/uploads/.gitkeep

# System & OS
.DS_Store
Thumbs.db
*.log
*.tmp

# Environment files
.env
.env.local

# IDEs and editors
.vscode/
.idea/
